*.html
*.pdf
*.xlsx
*.docx
Article_and_summary.Rmd
Suggested_Journal_Papers.Rmd
ClassList/
Gradings/
HomeworkAssignments/
LectureNotes/*.html
MyNotes/
References/
Syllabus/sample_syllabus/
Syllabus/*.docx
Syllabus/*.pdf
Syllabus/*.html
Textbook/
