*.html
*.xlsx
*.docx
Article_and_summary.Rmd
Suggested_Journal_Papers.Rmd
Suggested_Journal_Papers.pdf
ClassList/
Gradings/
HomeworkAssignments/
HomeworkAssignments/Students_solution/
HomeworkAssignments/*.html
HomeworkAssignments/*.pdf
HomeworkAssignments/Data/
LectureNotes/*.html
MyNotes/
References/
Syllabus/
Syllabus/sample_syllabus/
Syllabus/*.html
Syllabus/*.docx
Syllabus/*.pdf
Textbook/
